[submodule "ql"]
	path = ql
	url = https://github.com/github/codeql.git
	branch = experimental/atm
[submodule "codeql-go"]
	path = codeql-go
	url = https://github.com/github/codeql-go.git
	branch = lgtm.com
